<div class="section" *ngIf="userDetail; else loader">
    <app-header *ngIf="userDetail" [menuStatus]="menuStatus" (menuActiveStatus)="receiveMenuStatus($event)"
    (appActiveStatus)="receiveAppStatus($event)"></app-header>
    <div class="contentSection">
        <app-side-nav *ngIf="userDetail" [menuStatus]="menuStatus" [selectedApp]="selectedApp"
        (menuActiveStatus)="receiveMenuStatus($event)"></app-side-nav>
        <div [class]="userDetail ? (menuStatus ? 'content content-padding active' : 'content') : 'content'">
            <!--login-->
            <div class="headerSection" *ngIf="userDetail">
                <app-breadcrumb-list></app-breadcrumb-list>
            </div>
            <!-- <app-breadcrumb *ngIf="userDetail"></app-breadcrumb> -->
            <router-outlet *ngIf="menuUserAccess; else menuAccessLoader"></router-outlet>
        </div>
    </div>
</div>

<ng-template #loader>
    <app-no-data class="authLoader" [loaderStatus]="true" [loaderText]="'Checking user credentials, please wait...'"></app-no-data>
</ng-template>

<ng-template #menuAccessLoader>
    <app-no-data class="authLoader" [loaderStatus]="true" [loaderText]="'Checking user menu access, please wait...'"></app-no-data>
</ng-template>